:root {
    --base-width: 1366; /* デザインの基準幅 */
    scroll-behavior: smooth;
}

.parallax {
    background-image: url(../img/back_0221.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.index-kv__container,
.index-about__container,
.index-work__container,
.index-access__container,
.index-contact__container {
    height: 100vh;
}

@media screen and (orientation: landscape) and (max-height: 649px) {
    .index-kv__container,
    .index-about__container,
    .index-work__container,
    .index-access__container,
    .index-contact__container {
        height: calc(100vh * 1.5);
    }
}

.index-kv,
.index-about,
.index-work,
.index-access,
.index-contact {
    height: 100%;
}

.index-kv__inner,
.index-about__inner,
.index-work__inner,
.index-access__inner,
.index-contact__inner {
    height: 100%;
    position: relative;
}

/*
header
 */
.header {
    width: 100%;
    height: 90px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 1;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    margin: 23px 49px 0 44px;
}


.header__logo-img {
    width: 45px;
    height: 45px;
}

.header__nav {
    width: 285px;
}

.header__nav-list {
    display: flex;
    justify-content: space-between;
    margin: 14px 0 0 0;
}

.header__nav-link {
    font-family: "Helvetica", sans-serif;
    font-weight: 300;
    font-size: 16px;
}

@media screen and (orientation: portrait) {
    .header {
        height: 150px;
    }

    .header__inner {
        margin: 40.6px 23px 0 40px;
    }


    .header__logo-img {
        width: 68.79px;
        height: 68.79px;
    }

    .header__nav {
        width: 422px;
    }

    .header__nav-list {
        margin: 20.94px 0 0 0;
    }

    .header__nav-link {
        font-size: 23px;
    }
}

@media screen and (max-width: 649px), screen and (max-height: 649px) {
    .header {
        height: 75px;
    }

    .header__inner {
        margin: 20.3px 15px 0 20px;
    }


    .header__logo-img {
        width: 34.395px;
        height: 34.395px;
    }

    .header__nav {
        width: 211px;
    }

    .header__nav-list {
        margin: 9.2px 0 0 0;
    }

    .header__nav-link {
        font-size: 11.5px;
    }
}

/*
kv
 */
.index-kv__img {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 0;
    right: 4px;
    bottom: 4px;
    left: 0;
    margin: auto;
}

.index-kv__txtArea {
    position: absolute;
    bottom: 50px;
    left: 50px;
}

.index-kv__txtArea-sbttl-area {
    margin-bottom: 26px;
}

.index-kv__txtArea-sbttl {
    font-size: 12px;
    font-weight: bold;
    line-height: 17px;
}

.index-kv__txtArea-txt {
    font-family: "Helvetica", sans-serif;
    font-weight: 300;
    font-size: 36px;
    line-height: calc(76px / 2);
}

@media screen and (orientation: portrait) {
    .index-kv__img {
        width: 643.07px;
        height: 643.07px;
        top: 0;
        right: 0;
        bottom: 183.79px;
        left: 0;
    }

    .index-kv__txtArea {
        bottom: 50px;
        left: 40px;
    }

    .index-kv__txtArea-sbttl-area {
        margin-bottom: 34.09px;
    }

    .index-kv__txtArea-sbttl {
        font-size: 24px;
        line-height: 35px;
    }

    .index-kv__txtArea-txt {
        font-size: 38px;
        line-height: calc(82px / 2);
    }
}

@media screen and (max-width: 649px), screen and (max-height: 649px) {
    .index-kv__img {
        width: 320px;
        height: 320px;
        top: 0;
        right: 0;
        bottom: 90px;
        left: 0;
    }

    .index-kv__txtArea {
        bottom: 25px;
        left: 20px;
    }

    .index-kv__txtArea-sbttl-area {
        margin-bottom: 15px;
    }

    .index-kv__txtArea-sbttl {
        font-size: 12px;
        line-height: 17.5px;
    }

    .index-kv__txtArea-txt {
        font-size: 19px;
        line-height: calc(41px / 2);
    }
}

/*
about
 */
.index-about__txt-area {
    width: 249px;
    height: 160px;
    position: absolute;
    top: 0;
    right: 431px;
    bottom: 96px;
    left: 0;
    margin: auto;
}

.index-about__txt {
    font-family: "Helvetica", sans-serif;
    font-weight: 300;
    font-size: 160px;
    opacity: 0.83;
}

.index-about__txt-deco {
    font-family: "Helvetica", sans-serif;
    font-weight: 300;
    font-size: 160px;
    opacity: 1;
    filter: blur(13px);
    mix-blend-mode: overlay;
}

.index-about__box-deco {
    width: 436px;
    height: 110px;
    background: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 72px;
    left: 314px;
    margin: auto;
    mix-blend-mode: overlay;
    opacity: 0.91;
    filter: blur(16px);
}

.index-about__box {
    width: 436px;
    height: 110px;
    background: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 72px;
    left: 314px;
    margin: auto;
    mix-blend-mode: screen;
    opacity: 0.91;
}

.index-about__txtArea {
    position: absolute;
    bottom: 52px;
    left: 50px;
}

.index-about__txtArea-ttl-area {
    margin-bottom: calc(10px + 4px);
}

.index-about__txtArea-ttl {
    font-family: "Helvetica", sans-serif;
    font-weight: 300;
    font-size: 36px;
    line-height: 1;
}

.index-about__txtArea-sbttl-area {
    margin-bottom: 15px;
}

.index-about__txtArea-sbttl {
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
}

.index-about__txtArea-txt {
    font-size: 12px;
    line-height: calc(34px / 2);
}

@media screen and (orientation: portrait) {
    .index-about__txt-area {
        width: 383px;
        height: 246px;
        top: 0;
        right: 93px;
        bottom: 358px;
        left: 0;
    }

    .index-about__txt,
    .index-about__txt-deco {
        font-size: 246px;
    }

    .index-about__box-deco,
    .index-about__box {
        width: 476px;
        height: 169.11px;
        top: 138.87px;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .index-about__txtArea {
        bottom: 41px;
        left: 40px;
    }

    .index-about__txtArea-ttl-area {
        margin-bottom: calc(5px + 4px);
    }

    .index-about__txtArea-ttl {
        font-size: 38px;
    }

    .index-about__txtArea-sbttl-area {
        margin-bottom: 15px;
    }

    .index-about__txtArea-sbttl {
        font-size: 24px;
        line-height: 35px;
    }

    .index-about__txtArea-txt {
        font-size: 18px;
        line-height: calc(52px / 2);
    }
}

@media screen and (max-width: 649px), screen and (max-height: 649px) {
    .index-about__txt-area {
        width: 191.5px;
        height: 123px;
        top: 0;
        right: 46.5px;
        bottom: 179px;
        left: 0;
    }

    .index-about__txt,
    .index-about__txt-deco {
        font-size: 123px;
    }

    .index-about__box-deco,
    .index-about__box {
        width: 238px;
        height: 85px;
        top: 75px;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .index-about__txtArea {
        bottom: 20px;
        left: 20px;
    }

    .index-about__txtArea-ttl-area {
        margin-bottom: calc(2.5px + 2px);
    }

    .index-about__txtArea-ttl {
        font-size: 19px;
    }

    .index-about__txtArea-sbttl-area {
        margin-bottom: 7.5px;
    }

    .index-about__txtArea-sbttl {
        font-size: 12px;
        line-height: 17.5px;
    }

    .index-about__txtArea-txt {
        font-size: 9px;
        line-height: calc(26px / 2);
    }
}

/*
work
 */
.index-work__img-deco {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 28px;
    right: 0;
    bottom: 0;
    left: clamp(0px, calc(482 * 100vw / 1366), 482px);
    margin: auto;
    mix-blend-mode: overlay;
    opacity: 1;
    filter: blur(26px);
}

.index-work__img {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 28px;
    right: 0;
    bottom: 0;
    left: clamp(0px, calc(482 * 100vw / 1366), 482px);
    margin: auto;
    mix-blend-mode: hard-light;
    opacity: 1;
}

.index-work__txt-area {
    width: 229px;
    height: 178px;
    position: absolute;
    top: 28px;
    right: 335px;
    bottom: 0;
    left: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.index-work__txt-item {
    font-family: "Helvetica", sans-serif;
    font-weight: 300;
    font-size: 32px;
    opacity: 1;
}

.index-work__txtArea {
    position: absolute;
    bottom: 50px;
    left: 50px;
}

.index-work__txtArea-ttl-area {
    margin-bottom: calc(10px + 4px);
}

.index-work__txtArea-ttl {
    font-family: "Helvetica", sans-serif;
    font-weight: 300;
    font-size: 36px;
    line-height: 1;
}

.index-work__txtArea-sbttl-area {
    margin-bottom: 15px;
}

.index-work__txtArea-sbttl {
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
}

.index-work__txtArea-txt {
    font-size: 12px;
    line-height: calc(34px / 2);
}

@media screen and (orientation: portrait) {
    .index-work__img-deco,
    .index-work__img {
        width: 564.18px;
        height: 564.18px;
        top: 0;
        right: 9px;
        bottom: 169.62px;
        left: 0;
    }

    .index-work__txt-area {
        width: 229px;
        height: 168.04px;
        top: 335.06px;
        right: 222.98px;
        bottom: 0;
        left: 0;
    }

    .index-work__txt-item {
        font-size: 33px;
    }

    .index-work__txtArea {
        bottom: 37px;
        left: 40px;
    }

    .index-work__txtArea-ttl-area {
        margin-bottom: calc(5px + 4px);
    }

    .index-work__txtArea-ttl {
        font-size: 38px;
    }

    .index-work__txtArea-sbttl-area {
        margin-bottom: 15px;
    }

    .index-work__txtArea-sbttl {
        font-size: 24px;
        line-height: 35px;
    }

    .index-work__txtArea-txt {
        font-size: 18px;
        line-height: calc(52px / 2);
    }
}

@media screen and (max-width: 649px), screen and (max-height: 649px) {
    .index-work__img-deco,
    .index-work__img {
        width: 282.09px;
        height: 282.92px;
        top: 0;
        right: 4.5px;
        bottom: 84.81px;
        left: 0;
    }

    .index-work__txt-area {
        width: 114.5px;
        height: 84.02px;
        top: 167.53px;
        right: 111.49px;
        bottom: 0;
        left: 0;
    }

    .index-work__txt-item {
        font-size: 16.5px;
    }

    .index-work__txtArea {
        bottom: 18.5px;
        left: 20px;
    }

    .index-work__txtArea-ttl-area {
        margin-bottom: calc(2.5px + 2px);
    }

    .index-work__txtArea-ttl {
        font-size: 19px;
    }

    .index-work__txtArea-sbttl-area {
        margin-bottom: 7.5px;
    }

    .index-work__txtArea-sbttl {
        font-size: 12px;
        line-height: 17.5px;
    }

    .index-work__txtArea-txt {
        font-size: 9px;
        line-height: calc(26px / 2);
    }
}

/*
access
 */
.index-access__img {
    width: clamp(0px, calc(634 * 100vw / 1366), 634px);
    height: clamp(0px, calc(513 * 100vw / 1366), 513px);
    position: absolute;
    top: 7px;
    right: 0;
    bottom: 0;
    left: 418px;
    margin: auto;
}

.index-access__txtArea {
    position: absolute;
    bottom: 40px;
    left: 50px;
}

.index-access__txtArea-ttl1-area {
    margin-bottom: calc(15px + 4px);
}

.index-access__txtArea-ttl1 {
    font-family: "Helvetica", sans-serif;
    font-weight: 300;
    font-size: 36px;
    line-height: 1;
}

.index-access__txtArea-CoName-area {
    margin-bottom: 5px;
}

.index-access__txtArea-CoName {
    font-size: 14px;
    line-height: 20px;
}

.index-access__txtArea-CoAdd-area {
    margin-bottom: 15px;
}

.index-access__txtArea-CoAdd {
    font-size: 14px;
    line-height: 20px;
}

.index-access__txtArea-CoGMap-area {
    margin-bottom: 30.58px;
}

.index-access__txtArea-CoGMap {
    width: 118px; /* 長方形の横幅 */
    height: 15.42px; /* 長方形の縦幅 */
    border: 1px solid white; /* 白色の枠線 */
    border-radius: 7.71px; /* 縦の半分を指定して左右を半円に */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9px;
}

.index-access__txtArea-CoTraInfo-area {
    margin-bottom: 30px;
}

.index-access__txtArea-CoTraInfo {
    font-size: 12px;
    line-height: calc(35px / 2);
}

.index-access__txtArea-ttl2-area {
    /* 基順線から下にはみ出てる分だけ修正 */
    margin-top: -4px;
    margin-bottom: calc(20px + 4px);
}

.index-access__txtArea-ttl2 {
    font-family: "Helvetica", sans-serif;
    font-weight: 300;
    font-size: 36px;
    line-height: 1;
}

.index-access__txtArea-GrCoName-area {
    margin-bottom: 5px;
}

.index-access__txtArea-GrCoName {
    font-size: 14px;
    line-height: 20px;
}

.index-access__txtArea-GrCoAdd {
    font-size: 14px;
    line-height: 20px;
    text-decoration: underline;
}

@media screen and (orientation: portrait) {
    .index-access__img {
        width: 586px;
        height: 473px;
        top: 0;
        right: 4px;
        bottom: 311px;
        left: 0;
    }

    .index-access__txtArea {
        bottom: 40px;
        left: 40px;
    }

    .index-access__txtArea-ttl1-area {
        margin-bottom: calc(20px + 4px);
    }

    .index-access__txtArea-ttl1 {
        font-size: 38px;
    }

    .index-access__txtArea-CoName-area {
        margin-bottom: 7px;
    }

    .index-access__txtArea-CoName {
        font-size: 18px;
        line-height: 26px;
    }

    .index-access__txtArea-CoAdd-area {
        margin-bottom: 20px;
    }

    .index-access__txtArea-CoAdd {
        font-size: 18px;
        line-height: 26px;
    }

    .index-access__txtArea-CoGMap-area {
        margin-bottom: 19.77px;
    }

    .index-access__txtArea-CoGMap {
        width: 233.79px; /* 長方形の横幅 */
        height: 32.23px; /* 長方形の縦幅 */
        border-radius: 16.115px; /* 縦の半分を指定して左右を半円に */
        font-size: 17px;
    }

    .index-access__txtArea-CoTraInfo-area {
        margin-bottom: 43px;
    }

    .index-access__txtArea-CoTraInfo {
        font-size: 12px;
        line-height: calc(35px / 2);
    }

    .index-access__txtArea-ttl2-area {
        /* 基順線から下にはみ出てる分だけ修正 */
        margin-top: -4px;
        margin-bottom: calc(20px + 4px);
    }

    .index-access__txtArea-ttl2 {
        font-size: 38px;
    }

    .index-access__txtArea-GrCoName-area {
        margin-bottom: 0;
    }

    .index-access__txtArea-GrCoName {
        font-size: 18px;
        line-height: 26px;
    }

    .index-access__txtArea-GrCoAdd {
        font-size: 18px;
        line-height: 26px;
    }
}

@media screen and (max-width: 649px), screen and (max-height: 649px) {
    .index-access__img {
        width: 293px;
        height: 236.5px;
        top: 0;
        right: 2px;
        bottom: 155.5px;
        left: 0;
    }

    .index-access__txtArea {
        bottom: 20px;
        left: 20px;
    }

    .index-access__txtArea-ttl1-area {
        margin-bottom: 10px;
    }

    .index-access__txtArea-ttl1 {
        font-size: 19px;
    }

    .index-access__txtArea-CoName-area {
        margin-bottom: 3.5px;
    }

    .index-access__txtArea-CoName {
        font-size: 9px;
        line-height: 13px;
    }

    .index-access__txtArea-CoAdd-area {
        margin-bottom: 10px;
    }

    .index-access__txtArea-CoAdd {
        font-size: 9px;
        line-height: 13px;
    }

    .index-access__txtArea-CoGMap-area {
        margin-bottom: 9.885px;
    }

    .index-access__txtArea-CoGMap {
        width: 116.895px; /* 長方形の横幅 */
        height: 16.115px; /* 長方形の縦幅 */
        border-radius: 8.0575px; /* 縦の半分を指定して左右を半円に */
        font-size: 8.5px;
    }

    .index-access__txtArea-CoTraInfo-area {
        margin-bottom: 21.5px;
    }

    .index-access__txtArea-CoTraInfo {
        font-size: 6px;
        line-height: calc(17.5px / 2);
    }

    .index-access__txtArea-ttl2-area {
        /* 基順線から下にはみ出てる分だけ修正 */
        margin-top: -2px;
        margin-bottom: calc(10px + 2px);
    }

    .index-access__txtArea-ttl2 {
        font-size: 19px;
    }

    .index-access__txtArea-GrCoName-area {
        margin-bottom: 0;
    }

    .index-access__txtArea-GrCoName {
        font-size: 9px;
        line-height: 13px;
    }

    .index-access__txtArea-GrCoAdd {
        font-size: 9px;
        line-height: 13px;
    }
}

/*
contact
 */
.index-contact__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index-contact__txt {
    margin-top: 33px;
    margin-bottom: 37px;
    font-family: "Helvetica", sans-serif;
    font-weight: 300;
    font-size: 36px;
}

.index-contact__form {
    width: 486px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 5px;
}

.index-contact__form-name {
    grid-column: 1;
    grid-row: 1;
}

.index-contact__form-furigana {
    grid-column: 2;
    grid-row: 1;
}

.index-contact__form-email {
    grid-column: 1/3;
    grid-row: 2;
}

.index-contact__form-company {
    grid-column: 1/3;
    grid-row: 3;
}

.index-contact__form-massage {
    grid-column: 1/3;
    grid-row: 4;
}

.index-contact__form-button {
    grid-column: 1/3;
    grid-row: 5;
    color: white;
    width: 118px; /* 長方形の横幅 */
    height: 15.42px; /* 長方形の縦幅 */
    border: 1px solid white; /* 白色の枠線 */
    border-radius: 7.71px; /* 縦の半分を指定して左右を半円に */
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9px;
    margin: 37px auto 0 auto;
}

input {
    width: 100%;
    height: 26px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    height: 120px;
    box-sizing: border-box;
}

.index-contact__copyright {
    font-size: 9px;
    position: absolute;
    left: 50%;
    bottom: 23.95px;
    transform: translateX(-50%);
}

@media screen and (orientation: portrait) {
    .index-contact__txt {
        margin-top: 0;
        margin-bottom: 48px;
        font-size: 38px;
    }

    .index-contact__form {
        width: 400px;
        gap: 10px
    }

    .index-contact__form-name {
        grid-column: 1/3;
    }

    .index-contact__form-furigana {
        grid-column: 1/3;
        grid-row: 2;
    }

    .index-contact__form-email {
        grid-row: 3;
    }

    .index-contact__form-company {
        grid-row: 4;
    }

    .index-contact__form-massage {
        grid-row: 5;
    }

    .index-contact__form-button {
        grid-row: 6;
        width: 233.79px; /* 長方形の横幅 */
        height: 32.23px; /* 長方形の縦幅 */
        border-radius: 16.115px; /* 縦の半分を指定して左右を半円に */
        font-size: 17px;
        margin: 65px auto 0 auto;
    }

    textarea {
        height: 380px;
    }

    .index-contact__copyright {
        font-size: 12px;
        bottom: 40px;
    }
}

@media screen and (max-width: 649px), screen and (max-height: 649px) {
    .index-contact__txt {
        margin-bottom: 24px;
        font-size: 19px;
    }

    .index-contact__form {
        width: 200px;
        gap: 5px
    }

    .index-contact__form-button {
        width: 116.895px; /* 長方形の横幅 */
        height: 16.115px; /* 長方形の縦幅 */
        border-radius: 8.0575px; /* 縦の半分を指定して左右を半円に */
        font-size: 8.5px;
        margin: 32.5px auto 0 auto;
    }

    textarea {
        height: 250px;
    }

    .index-contact__copyright {
        font-size: 6px;
        bottom: 20px;
    }
}